.wrap-contact {
  display: flex;
  padding: 15px;
}

.AddContact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 250px;
  border-radius: 10px;
  border: 2px dashed blue;
  text-align: center;
}

.AddContact:hover {
  cursor:pointer;
}

.add-icon {
  font-size: 30px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
