.image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-color: lightblue;
}

.icon {
  position: absolute;
  font-size: 30px;
}
.file {
  display: none;
}
