$main-color: #2da1ad;
$secondary-color: #78c9ce;
$third-color: #fff;
$html-background: #eee;
$main-light-color: #70bbc3;
$secondary-light-color: #a0d9dc;
$border-color: #e4e7e7;

$text-main-color: #2da1ad;
$text-secondary-color: #bbc4c3;

$header-height: 55px;
$header-bottom: 5px;
$navigation-height: 120px;
$page-max-height: 900px;

$page-max-width: 1440px;
$page-min-width: 320px;

$form-max-width: 900px;

$card-padding: 30px;

$text-size: 22px;
$input-text: 18px;
